@{
    ViewData["Title"] = "Home Page";
}

@using tl2_tp10_2023_InakiPoch.ViewModels
@model LoginViewModel

<h1>@ViewData["Title"]</h1>
<form asp-controller="Login" asp-action="Login" method="post">
    <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input asp-for = "@Model.Username" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input asp-for = "@Model.Password" class="form-control" id="pass">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
